<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Privacy Policy - AntiFra</title>
  <link rel="icon" type="image/png" href="assets/images/fingerprint.png">
  <link rel="stylesheet" href="assets/css/todo.css">
  <link rel="stylesheet" href="assets/css/legal.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/fontawesome.css">
</head>

<body>
  <!-- SECTION - Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="assets/images/logo.png" alt="logo image"><span> AntiFra</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/#services">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="/#faq">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="/#form">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- MAIN -->


  <h1 id="welcomeMessage"></h1>

  <!-- SECTION - TEXTS-->

  <section class="main-body">
    <div class="container">
      <div class="row">
        <h1 class="display-2--intro">To-Do Lists</h1>

        <div class="todo-container col col-12 col-sm-12 col-md-6 col-lg-6" id="Todo1">
          <div class="todo-header">
            <h3 class="display-3--title">Front-End</h3>
            <input type="text" class="myInput" placeholder="Add More...">
            <span onclick="newElement(this)" class="addBtn">Add</span>
          </div>
          <ul class="todo-ul">
          </ul>
        </div>

        <div class="todo-container col col-12 col-sm-12 col-md-6 col-lg-6" id="Todo2">
          <div class="todo-header">
            <h3 class="display-3--title">Back-End</h3>
            <input type="text" class="myInput" placeholder="Add More...">
            <span onclick="newElement(this)" class="addBtn">Add</span>
          </div>
          <ul class="todo-ul">
          </ul>
        </div>

      </div>
    </div>
  </section>


  <!-- Section - COOKIES Banner -->
  <div id="cookie-container" class="cookie-container">
    <div class="cookie-content d-flex">
      <div class="p-2 flex-grow-1">
        <p>We use cookies to optimize your experience as outlined in our <a href="/privacy-policy">Privacy Policy</a>.
        </p>
      </div>
      <div class="p-2 ">
        <button type="button" class="btn btn-success" id="accept-all">Accept All</button>
      </div>
      <div class="p-2 ">
        <button type="button" id="openCookieModal" class="btn btn-dark customizeButton">Customize</button>
      </div>
      <div class="p-2 ">
        <button type="button" class="btn btn-dark rejectButton" id="reject">Reject All</button>
      </div>
    </div>
  </div>
  <!-- Section Cookies Modal -->
  <div class="cooky-modal cooky-modal-open" id="CookieModal" tabindex="0" aria-labelledby="CookieModalLabel"
    aria-hidden="true">
    <div class="cooky-preference-center">

      <div class="cooky-preference-header">
        <span class="cookie-modal-title">Customise Consent Preferences</span>
        <button type="button" id="CloseCookieModal" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <!-- modal body -->
      <div class="cooky-preference-body">
        <!--show more/less-->
        <div class="cooky-preference-content">
          <p>We use cookies to help you navigate efficiently and perform certain functions.
            You will find detailed information about all cookies under each consent category below.</p>
          <p>The cookies that are categorised as "Necessary" are stored on your browser as they are essential for
            enabling the basic functionalities of the site.
            These cookies do not store any personal data. However, disabling some of these
            cookies may affect your browsing experience and the functionality of the site.
            <button class="cooky-show-more" data-cooky-tag="show-more-button" aria-label="Show more">... Show
              more</button>
          </p>
          <p>We also use third-party cookies that help us analyse how you use this website, store your preferences,
            and provide the content and advertisements that are relevant to you. These cookies will only be stored in
            your browser with your prior consent.</p>
          <p>You can choose to enable or disable some or all of these cookies but disabling some of them may affect
            your browsing experience.</p>
          <button class="cooky-show-less" data-cooky-tag="hide-desc-button" aria-label="Show less">Show less</button>
        </div>
        <div class="cooky-horizontal-separator"></div>
        <!--accordion-->
        <div class="cooky-accordion-wrapper" data-cooky-tag="detail-categories">

          <!--accordion 1  -->
          <div class="cooky-accordion" id="cookyDetailCategorynecessary">
            <div class="cooky-accordion-item">
              <div class="cooky-accordion-chevron"><i class="cooky-chevron-right"></i></div>
              <div class="cooky-accordion-header-wrapper">
                <div class="cooky-accordion-header">
                  <button class="cooky-accordion-btn" aria-expanded="false" aria-label="Necessary"
                    data-cooky-tag="detail-category-title">Necessary</button><span class="cooky-always-active">Always
                    Active</span>
                </div>
                <div class="cooky-accordion-header-des" data-cooky-tag="detail-category-description">
                  <p>Necessary cookies are required to enable the basic features of this site, such as
                    providing secure log-in or adjusting your consent preferences. These cookies do not
                    store any personally identifiable data.</p>
                </div>
              </div>
            </div>

            <!--accordion 1 body -->
            <div class="cooky-accordion-body">
              <div class="cooky-audit-table" data-cooky-tag="audit-table">
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_GRECAPTCHA</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>6 months</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Google Recaptcha service sets this cookie to identify bots to protect the
                      website against malicious spam attacks.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>ajs_anonymous_id</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie is set by Segment to count the number of people who visit a certain
                      site by tracking if they have visited before.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>ajs_user_id</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie is set by Segment to help track visitor usage, events, target
                      marketing, and also measure application performance and stability.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>m</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month 4 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Stripe sets this cookie for fraud prevention purposes. It identifies the device
                      used to access the website, allowing the website to be formatted accordingly.
                    </div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>cookieyes_privacy_policy_generator_session</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>2 hours</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Description is currently not available.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>__stripe_mid</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Stripe sets this cookie to process payments.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>XSRF-TOKEN</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>2 hours</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie enhances visitor browsing security by preventing cross-site request
                      forgery.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>cookieyes_session</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>2 hours</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>CookieYes sets this cookie to identify a session instance for a user.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>__stripe_sid</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 hour</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Stripe sets this cookie to process payments.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>cookieyes_cookie_policy_generator_session</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>2 hours</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Description is currently not available.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>__cf_bm</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 hour</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie, set by Cloudflare, is used to support Cloudflare Bot Management.
                    </div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>cookieyes-consent</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>CookieYes sets this cookie to remember users' consent preferences so that their
                      preferences are respected on subsequent visits to this site. It does not collect
                      or store any personal information about the site visitors.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>__cfruid</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Cloudflare sets this cookie to identify trusted web traffic.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>rc::a</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie is set by the Google recaptcha service to identify bots to protect
                      the website against malicious spam attacks.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>rc::f</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie is set by the Google recaptcha service to identify bots to protect
                      the website against malicious spam attacks.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>rc::c</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie is set by the Google recaptcha service to identify bots to protect
                      the website against malicious spam attacks.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>rc::b</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie is set by the Google recaptcha service to identify bots to protect
                      the website against malicious spam attacks.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>wpEmojiSettingsSupports</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>WordPress sets this cookie when a user interacts with emojis on a WordPress
                      site. It helps determine if the user's browser can display emojis properly.
                    </div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>__Secure-ENID</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>The __Secure-ENID cookie is a type of secure cookie used for authentication and
                      to ensure the security of user sessions.</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--accordion 2 -->
          <div class="cooky-accordion" id="cookyDetailCategoryfunctional">
            <div class="cooky-accordion-item">
              <div class="cooky-accordion-chevron"><i class="cooky-chevron-right"></i></div>
              <div class="cooky-accordion-header-wrapper">
                <div class="cooky-accordion-header"><button class="cooky-accordion-btn"
                    aria-expanded="false">Functional</button>
                  <div class="cooky-switch" data-cooky-tag="detail-category-toggle">
                    <input type="checkbox" id="cookySwitchfunctional" aria-label="Functional" checked>
                  </div>
                </div>
                <div class="cooky-accordion-header-des" data-cooky-tag="detail-category-description">
                  <p>Functional cookies help perform certain functionalities like sharing the content of
                    the website on social media platforms, collecting feedback, and other third-party
                    features.</p>
                </div>
              </div>
            </div>
            <div class="cooky-accordion-body">
              <div class="cooky-audit-table" data-cooky-tag="audit-table">
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>twk_idm_key</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Tawk set this cookie to allow the website to recognise the visitor in order to
                      optimize the chat-box functionality. </div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>TawkConnectionTime</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Tawk.to, a live chat functionality, sets this cookie. For improved service,
                      this cookie helps remember users so that previous chats can be linked together.
                    </div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>lang</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>LinkedIn sets this cookie to remember a user's language setting.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>referrer_user_id</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>14 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Calendly sets this cookie for the booking functionality of the website.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>ytidb::LAST_RESULT_ENTRY_KEY</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>The cookie ytidb::LAST_RESULT_ENTRY_KEY is used by YouTube to store the last
                      search result entry that was clicked by the user. This information is used to
                      improve the user experience by providing more relevant search results in the
                      future.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>yt-remote-session-app</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>The yt-remote-session-app cookie is used by YouTube to store user preferences
                      and information about the interface of the embedded YouTube video player.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>yt-remote-cast-installed</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>The yt-remote-cast-installed cookie is used to store the user's video player
                      preferences using embedded YouTube video.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>yt-remote-session-name</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>The yt-remote-session-name cookie is used by YouTube to store the user's video
                      player preferences using embedded YouTube video.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>yt-remote-fast-check-period</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>The yt-remote-fast-check-period cookie is used by YouTube to store the user's
                      video player preferences for embedded YouTube videos.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>intercom-id-*</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>8 months 26 days 1 hour</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Intercom sets this cookie that allows visitors to see any conversations they've
                      had on Intercom websites.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>intercom-session-*</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>7 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Intercom sets this cookie that allows visitors to see any conversations they've
                      had on Intercom websites.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>intercom-device-id-*</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>8 months 26 days 1 hour</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Intercom sets this cookie that allows visitors to see any conversations they've
                      had on Intercom websites.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>loid</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month 4 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie is set by the Reddit. The cookie enables the sharing of content
                      from the website onto the social media platform. </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--accordion 3 -->

          <div class="cooky-accordion" id="cookyDetailCategoryanalytics">
            <div class="cooky-accordion-item">
              <div class="cooky-accordion-chevron"><i class="cooky-chevron-right"></i></div>
              <div class="cooky-accordion-header-wrapper">
                <div class="cooky-accordion-header"><button class="cooky-accordion-btn" aria-expanded="false"
                    aria-label="Analytics" data-cooky-tag="detail-category-title">Analytics</button>
                  <div class="cooky-switch" data-cooky-tag="detail-category-toggle">
                    <input type="checkbox" id="cookySwitchanalytics" aria-label="Analytics" checked>
                  </div>


                </div>
                <div class="cooky-accordion-header-des" data-cooky-tag="detail-category-description">
                  <p>Analytical cookies are used to understand how visitors interact with the website.
                    These cookies help provide information on metrics such as the number of visitors,
                    bounce rate, traffic source, etc.</p>
                </div>
              </div>
            </div>
            <div class="cooky-accordion-body">
              <div class="cooky-audit-table" data-cooky-tag="audit-table">
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_ga</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month 4 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Google Analytics sets this cookie to calculate visitor, session and campaign
                      data and track site usage for the site's analytics report. The cookie stores
                      information anonymously and assigns a randomly generated number to recognise
                      unique visitors.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_hjTLDTest</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>To determine the most generic cookie path that has to be used instead of the
                      page hostname, Hotjar sets the _hjTLDTest cookie to store different URL
                      substring alternatives until it fails.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_gcl_au</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>3 months</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Google Tag Manager sets the cookie to experiment advertisement efficiency of
                      websites using their services.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>CLID</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Microsoft Clarity set this cookie to store information about how visitors
                      interact with the website. The cookie helps to provide an analysis report. The
                      data collection includes the number of visitors, where they visit the website,
                      and the pages visited.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_clck</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Microsoft Clarity sets this cookie to retain the browser's Clarity User ID and
                      settings exclusive to that website. This guarantees that actions taken during
                      subsequent visits to the same website will be linked to the same user ID.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_clsk</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 day</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Microsoft Clarity sets this cookie to store and consolidate a user's pageviews
                      into a single session recording.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>MR</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>7 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie, set by Bing, is used to collect user information for analytics
                      purposes.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_ga_*</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month 4 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Google Analytics sets this cookie to store and count page views.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_hjSessionUser_*</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Hotjar sets this cookie to ensure data from subsequent visits to the same site
                      is attributed to the same user ID, which persists in the Hotjar User ID, which
                      is unique to that site.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_hjSession_*</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 hour</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Hotjar sets this cookie to ensure data from subsequent visits to the same site
                      is attributed to the same user ID, which persists in the Hotjar User ID, which
                      is unique to that site.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_cltk</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Description is currently not available.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_hjAbsoluteSessionInProgress</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 day</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Hotjar sets this cookie to detect a user's first pageview session, which is a
                      True/False flag set by the cookie.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>VISITOR_PRIVACY_METADATA</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>6 months</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>YouTube sets this cookie to store the user's cookie consent state for the
                      current domain. </div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>mp_*_mixpanel</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Mixpanel sets this cookie to determine how users use the website so that a good
                      user experience can be provided. </div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>ajs_group_id</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie is set by Segment to track visitor usage and events within the
                      website.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_pendo_visitorId.4cfbcefc-fcf9-4b66-5dc6-9b0d81bb07a9</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Pendo sets this cookie to identify and record the visitor’s Account ID that
                      will be used in Pendo, like Guide delivery and analytics.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_pendo_guides_blocked.4cfbcefc-fcf9-4b66-5dc6-9b0d81bb07a9</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Pendo sets this cookie to identify and record the visitor’s Account ID that
                      will be used in Pendo, like Guide delivery and analytics.</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--accordion 4 -->

          <div class="cooky-accordion" id="cookyDetailCategoryperformance">
            <div class="cooky-accordion-item">
              <div class="cooky-accordion-chevron"><i class="cooky-chevron-right"></i></div>
              <div class="cooky-accordion-header-wrapper">
                <div class="cooky-accordion-header"><button class="cooky-accordion-btn"
                    aria-expanded="false">Performance</button>
                  <div class="cooky-switch" data-cooky-tag="detail-category-toggle">
                    <input type="checkbox" id="cookySwitchperformance" aria-label="Performance" checked>
                  </div>
                </div>
                <div class="cooky-accordion-header-des" data-cooky-tag="detail-category-description">
                  <p>Performance cookies are used to understand and analyse the key performance indexes of
                    the website which helps in delivering a better user experience for the visitors.</p>
                </div>
              </div>
            </div>
            <div class="cooky-accordion-body">
              <div class="cooky-audit-table" data-cooky-tag="audit-table">
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>SRM_B</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 24 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Used by Microsoft Advertising as a unique ID for visitors.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>wp-wpml_current_language</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>WordPress multilingual plugin sets this cookie to store the current
                      language/language settings.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_calendly_session</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>21 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Calendly, a Meeting Schedulers, sets this cookie to allow the meeting scheduler
                      to function within the website and to add events into the visitor’s calendar.
                    </div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_uetsid</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 day</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Bing Ads sets this cookie to engage with a user that has previously visited the
                      website.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>_uetvid</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 24 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Bing Ads sets this cookie to engage with a user that has previously visited the
                      website.</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!--accordion 5 -->

          <div class="cooky-accordion" id="cookyDetailCategoryadvertisement">
            <div class="cooky-accordion-item">
              <div class="cooky-accordion-chevron"><i class="cooky-chevron-right"></i></div>
              <div class="cooky-accordion-header-wrapper">
                <div class="cooky-accordion-header"><button class="cooky-accordion-btn"
                    aria-expanded="false">Advertisement</button>
                  <div class="cooky-switch" data-cooky-tag="detail-category-toggle">
                    <input type="checkbox" id="cookySwitchadvertisement" aria-label="Advertisement" checked>
                  </div>
                </div>
                <div class="cooky-accordion-header-des" data-cooky-tag="detail-category-description">
                  <p>Advertisement cookies are used to provide visitors with customised advertisements
                    based on the pages you visited previously and to analyse the effectiveness of the ad
                    campaigns.</p>
                </div>
              </div>
            </div>
            <div class="cooky-accordion-body">
              <div class="cooky-audit-table" data-cooky-tag="audit-table">
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>YSC</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Youtube sets this cookie to track the views of embedded videos on Youtube
                      pages.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>VISITOR_INFO1_LIVE</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>6 months</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>YouTube sets this cookie to measure bandwidth, determining whether the user
                      gets the new or old player interface.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>test_cookie</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>15 minutes</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>doubleclick.net sets this cookie to determine if the user's browser supports
                      cookies.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>yt-remote-device-id</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>YouTube sets this cookie to store the user's video preferences using embedded
                      YouTube videos.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>yt-remote-connected-devices</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>YouTube sets this cookie to store the user's video preferences using embedded
                      YouTube videos.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>SM</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Microsoft Clarity cookie set this cookie for synchronizing the MUID across
                      Microsoft domains.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>MUID</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 24 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Bing sets this cookie to recognise unique web browsers visiting Microsoft
                      sites. This cookie is used for advertising, site analytics, and other
                      operations.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>ANONCHK</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>10 minutes</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>The ANONCHK cookie, set by Bing, is used to store a user's session ID and
                      verify ads' clicks on the Bing search engine. The cookie helps in reporting and
                      personalization as well.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>yt.innertube::requests</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>YouTube sets this cookie to register a unique ID to store data on what videos
                      from YouTube the user has seen.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>yt.innertube::nextId</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>Never Expires</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>YouTube sets this cookie to register a unique ID to store data on what videos
                      from YouTube the user has seen.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>muc_ads</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month 4 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Twitter sets this cookie to collect user behaviour and interaction data to
                      optimize the website.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>guest_id_marketing</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month 4 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Twitter sets this cookie to identify and track the website visitor.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>guest_id_ads</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month 4 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Twitter sets this cookie to identify and track the website visitor.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>personalization_id</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month 4 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Twitter sets this cookie to integrate and share features for social media and
                      also store information about how the user uses the website, for tracking and
                      targeting.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>guest_id</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>1 year 1 month 4 days</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>Twitter sets this cookie to identify and track the website visitor. It
                      registers if a user is signed in to the Twitter platform and collects
                      information about ad preferences.</div>
                  </li>
                </ul>
                <ul class="cooky-cookie-des-table">
                  <li>
                    <div>Cookie</div>
                    <div>session_tracker</div>
                  </li>
                  <li>
                    <div>Duration</div>
                    <div>session</div>
                  </li>
                  <li>
                    <div>Description</div>
                    <div>This cookie is set by the Reddit. This cookie is used to identify trusted web
                      traffic. It also helps in adverstising on the website.</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>


        </div>
      </div>


      <!--buttons in cookie footer-->
      <div class="cooky-footer-wrapper">
        <span class="cooky-footer-shadow"></span>
        <div class="cooky-prefrence-btn-wrapper" data-cooky-tag="detail-buttons">
          <button type="button" class="cooky-btn cooky-btn-accept" id="accept-all" aria-label="Accept All"
            data-cooky-tag="detail-accept-button">Accept All</button>
          <button class="cooky-btn cooky-btn-preferences" aria-label="Save My Preferences"
            data-cooky-tag="detail-save-button"> Save My Preferences</button>
          <button type="button" class="cooky-btn cooky-btn-reject" id="reject" aria-label="Reject All"
            data-cooky-tag="detail-reject-button">Reject All</button>
        </div>
      </div>

    </div>

  </div>
  <!-- Section FOOTER -->
  <footer class="footer">
    <div id="footer" class="container">
      <div class="row">
        <!-- CAMPANY INFO -->
        <div class="container mt-5">
          <div class="row text-white justify-content-center mt-3 pb-3">
            <div class="col-12 col-sm-3 col-lg-3 mx-auto">
              <h5><a class="navbar-brand" href="/">
                  <img src="assets/images/logo.png" alt="logo image"><span> AntiFra</span></a>
              </h5>
              <hr class="first-hr bg-white d-inline-block mb-4" style="width: 60px; height: 2px;">
              <p class="lh-lg">
                Helping Victims of Cryptocurrency Fraud Get Back What’s Rightfully Theirs
              </p>
              <div class="socials">
                <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="col-12 col-sm-3 col-lg-3 mb-4 mx-auto">
              <h5 class="text-capitalize fw-bold">Support</h5>
              <hr class="bg-white d-inline-block mb-4" style="width: 60px; height: 2px;">
              <ul class="list-inline company-list">
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-of-service">Terms of Service</a></li>
                <li><a href="/#faq">FAQ</a></li>
                <li><a href="/#form">Help</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 mb-4 mx-auto">
              <h5 class="text-capitalize fw-bold">Useful Links</h5>
              <hr class="bg-white d-inline-block mb-4" style="width: 60px; height: 2px;">
              <ul class="list-inline company-list">
                <li><a href="https://www.ic3.gov" target="_blank"> FBI Cyber Crime</a></li>
                <li><a href="https://www.cyber.gc.ca/en/incident-management" target="_blank">Canadian
                    Centre for Cyber
                    Security</a></li>
                <li><a href="https://www.cyber.gov.au/report-and-recover/report" target="_blank">Australian Signals
                    Directorate</a></li>
                <li><a href="https://www.actionfraud.police.uk" target="_blank">UK National Crime
                    Agency</a></li>
                <li><a href="https://www.interpol.int/en/Crimes/Cybercrime" target="_blank">Interpol
                    Cybercrime Unit</a>
                </li>
                <li><a href="https://www.europol.europa.eu/crime-areas/cybercrime" target="_blank">Europol’s Internet
                    Crime Unit</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--COPYRIGHT INFO-->
        <div class="footer-bottom pt-5 pb-5">
          <div class="container">
            <div class="row text-center text-white">
              <div class="col-12">
                <div class="footer-bottom__copyright">
                  &COPY; Copyright 2021 by AntiFra. All Rights Reserved. <a href="#">
                </div>
              </div>
            </div>
          </div>
        </div>
  </footer>
  <!-- BACK TO TOP -->
  <a href="#" id="back-to-top" class="shadow btn-primary rounded-circle back-to-top">
    <i class="fas fa-chevron-up"></i>
  </a>



  <!-- SCRIPTS -->

  <script>
    fetch('/cookies')
      .then(response => response.json())
      .then(data => {
        document.getElementById('welcomeMessage').innerText = `Welcome, ${data.adminName}!`;
      })
      .catch(err => console.error('Error fetching admin name:', err));
  </script>
  
  <script src="assets/js/todo.js"></script>
  <script src="assets/js/cookies.js"></script>
  <script src="assets/js/back-to-top.js"></script>
</body>

</html>