section.main-body {
  margin: 8rem;
}

/* Remove margins and padding from the list */
.todo-ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.todo-ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.todo-ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.todo-ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.todo-ul li.checked {
  background: #4c585b;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.todo-ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 15px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #4c585b;
  color: white;
}

/* Style the header */
.todo-header {
  background: #9db7c3;
  padding: 30px 40px;
}

/* Clear floats after the header */
.todo-header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input.myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  background-color: #fff !important;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

pre {
  position: relative;
  background: #ffffff;
  padding: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 2px solid #4c585b;
  min-height: 200px;
}

.copy-button {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  background: gray;
  border-radius: 0.5em;
  padding: 2px 7px;
}

.copy-button:hover {
  color: #4c585b;
  background: none;
}

.password-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99999;
}

.password-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.password-input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #333 !important;
}